.navbar{
    border: 1px solid #ccc;
    display: block;
    padding: 1rem;
}


.right-top{
    position: fixed;
    right: 5px;
    top: 10px;
}

.center{
    position: absolute;
    top: 10px;
    left: 50%;
}
.center-1{
    text-align: center;
    position: relative;
    top: 70px;
}

.center-2{
    padding: 100px;
    position: relative;
}