.navbar {
    border: 1px solid #ccc;
    display: block;
    padding: 1rem;
}

.right-top {
    position: fixed;
    right: 5px;
    top: 10px;
}

.center {
    position: absolute;
    top: 10px;
    left: 50%;
}

.center-1 {
    text-align: center;
    position: relative;
    top: 20px;
}

.center-2 {
    padding: 50px;
    position: relative;
    display: table;
}

.center-2>.row {
    display: table-row;
}

.center-2>.row>* {
    display: table-cell;
    padding: 5px;
    white-space: nowrap;
}

.col {
    width: 100%;
}